<nz-card [nzTitle]="search" [nzExtra]="extra ? undefined : extraDefault">
  <ng-template #search>
    <nz-space class="page-table-head" nzWrap>
      <ng-container *ngFor="let item of searchItems">
        <ng-container *ngIf="lists.hasSearch(item.vPageTableSearch)">
          <ng-container *nzSpaceItem [ngTemplateOutlet]="item.templateRef"></ng-container>
        </ng-container>
      </ng-container>
    </nz-space>
  </ng-template>
  <ng-template #extraDefault>
    <nz-button-group>
      <button nz-button (click)="getLists(true)" [nz-tooltip]="bit.l['refreshLists']">
        <i nz-icon nzType="sync"></i>
      </button>
      <button nz-button [bitSearchClear]="lists" (bitAfter)="getLists(true)" [nz-tooltip]="bit.l['clearSearch']">
        <i nz-icon nzType="clear"></i>
      </button>
      <button nz-button nzDanger [disabled]="!lists.batch" (click)="bulkDelete()" [nz-tooltip]="bit.l['bulkDelete']">
        <i nz-icon nzType="rest"></i>
      </button>
    </nz-button-group>
  </ng-template>
  <nz-table
    #contentTable
    nzTableLayout="fixed"
    [nzData]="lists.data"
    [nzLoadingDelay]="200"
    [nzLoading]="lists.loading"
    [nzTotal]="lists.totals"
    [nzPageSize]="lists.limit"
    [(nzPageIndex)]="lists.index"
    (nzPageIndexChange)="getLists(false, $event)"
    [nzFrontPagination]="false"
    [nzScroll]="scroll"
  >
    <thead>
      <tr>
        <th
          *ngIf="batch"
          nzWidth="50px"
          nzShowCheckbox
          [(nzChecked)]="lists.checked"
          [nzIndeterminate]="lists.indeterminate"
          (nzCheckedChange)="lists.checkedAll($event)"
        ></th>
        <ng-container *ngFor="let column of columns">
          <th
            [nzWidth]="column.width ?? null"
            [nzLeft]="column.left!"
            [nzRight]="column.right!"
            [nzAlign]="column.align ?? null"
            >{{ bit.l[column.key] }}</th
          >
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of contentTable.data">
        <td *ngIf="batch" nzShowCheckbox [(nzChecked)]="data['checked']" (nzCheckedChange)="lists.refreshStatus()"></td>
        <ng-container *ngFor="let column of columns">
          <td
            [nzLeft]="column.left ?? false"
            [nzRight]="column.right ?? false"
            [nzAlign]="column.align ?? null"
            [nzBreakWord]="column.breakWord"
          >
            <ng-container *ngIf="columnDef && columnDef.has(column.key); else normal">
              <ng-container
                *ngTemplateOutlet="columnDef.get(column.key)!; context: context(data, column)"
              ></ng-container>
            </ng-container>
            <ng-template #normal>
              <ng-container [ngSwitch]="column.format">
                <ng-container *ngIf="data.hasOwnProperty(column.key)">
                  <ng-container *ngSwitchCase="'i18n'">
                    {{ data[column.key] | object: bit.locale }}
                  </ng-container>
                  <ng-container *ngSwitchCase="'date'">
                    {{ data[column.key] * 1000 | date: 'yyyy-MM-dd' }}
                  </ng-container>
                  <ng-container *ngSwitchCase="'datetime'">
                    {{ data[column.key] * 1000 | date: 'yyyy-MM-dd HH:mm:ss' }}
                  </ng-container>
                  <ng-container *ngSwitchCase="'status'">
                    <nz-switch
                      [(ngModel)]="data.status"
                      [nzCheckedChildren]="bit.l['on']"
                      [nzUnCheckedChildren]="bit.l['off']"
                      [bitStatusChange]="api.status!(data)"
                      [bitControl]="!column.extra.control"
                      (bitResponse)="!column.extra.response($event)"
                    >
                    </nz-switch>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    {{ data[column.key] }}
                  </ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="'action'">
                  <button
                    *ngIf="column.extra.hasOwnProperty('edit')"
                    nz-button
                    nzType="text"
                    [bitOpen]="[column.extra.edit, data.id]"
                  >
                    <i nz-icon nzType="edit"></i>
                  </button>
                  <nz-divider nzType="vertical"></nz-divider>
                  <button
                    *ngIf="column.extra.hasOwnProperty('edit')"
                    nz-button
                    nzType="text"
                    [bitOpen]="[column.extra.edit, data.id]"
                  >
                    <i nz-icon nzType="ellipsis"></i>
                  </button>
                </ng-container>
              </ng-container>
            </ng-template>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
