<div class="container-login">
  <Particles
    id="tsparticles"
    [options]="particlesOptions"
  >
  </Particles>
  <div class="login-wrapper">
    <h1 class="animate__animated animate__rubberBand  ">
      <img src="assets/login.svg" alt="ant-design" />
    </h1>
    <nz-tabset>
      <nz-tab [nzTitle]="staffTitle"></nz-tab>
      <ng-template #staffTitle>
        <i nz-icon nzType="team"></i> {{bit.l['staffMode']}}
      </ng-template>
      <nz-tab [nzTitle]="adminTitle"></nz-tab>
      <ng-template #adminTitle>
        <i nz-icon nzType="key"></i> {{bit.l['adminMode']}}
      </ng-template>
    </nz-tabset>
    <form [formGroup]="form" (bitFormSubmit)="submit($event)">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="username.ref">
          <nz-input-group [nzSuffix]="usernameSuffix" [nzPrefix]="userPrefix">
            <input
              type="text"
              nz-input
              formControlName="username"
              [nzAutocomplete]="auto"
              [placeholder]="bit.l['usernamePlaceholder']"
            />
            <nz-autocomplete #auto>
              <ng-container *ngFor="let x of users">
                <nz-auto-option [nzValue]="x">
                  {{ x }}
                  <i class="user-del" nz-icon nzType="delete" (click)="deleteUsername($event, x)"></i>
                </nz-auto-option>
              </ng-container>
            </nz-autocomplete>
            <ng-template #userPrefix>
              <i nz-icon nzType="user"></i>
            </ng-template>
            <ng-template #usernameSuffix>
              <i
                *ngIf="form.get('username').value"
                nz-icon
                nzType="close-circle"
                (click)="form.get('username').reset()"
              >
              </i>
            </ng-template>
          </nz-input-group>
          <bit-error-tip
            #username
            [hasError]="{
              required: bit.l['usernameRequire']
            }"
          >
          </bit-error-tip>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzErrorTip]="password.ref">
          <nz-input-group [nzSuffix]="passwordSuffix" [nzPrefix]="passwordPrefix">
            <input
              nz-input
              type="password"
              formControlName="password"
              autocomplete="new-password"
              [placeholder]="bit.l['passwordPlaceholder']"
            />
          </nz-input-group>
          <ng-template #passwordPrefix>
            <i nz-icon nzType="lock"></i>
          </ng-template>
          <ng-template #passwordSuffix>
            <i
              *ngIf="form.get('password').value"
              nz-icon
              nzType="close-circle"
              (click)="form.get('password').reset()"
            >
            </i>
          </ng-template>
          <bit-error-tip
            #password
            [hasError]="{
              required: bit.l['passwordRequire'],
              minlength: bit.l['passwordCorrectly'],
              maxlength: bit.l['passwordCorrectly']
            }"
          >
          </bit-error-tip>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <label nz-checkbox formControlName="remember">
            <span>{{ bit.l["loginRemember"] }}</span>
          </label>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <button
            nz-button
            [nzLoading]="logining"
            nzType="primary"
            [nzBlock]="true"
          >
            {{ bit.l["login"] }}
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
