<bit-header>
  <button *bitHeaderAction nz-button nzType="primary" [bitOpen]="['admin-add']">
    <i nz-icon nzType="plus"></i>
    <span>{{ bit.l['add'] }}</span>
  </button>
</bit-header>

<v-page-table #pageTable [lists]="lists" [columns]="columns" [service]="userService" [deleteOperate]="deleteOperate">
  <nz-input-group *vPageTableSearch="'username'" [nzSuffixIcon]="'search'" style="width: 320px">
    <input
      nz-input
      [placeholder]="bit.l['search']"
      [(ngModel)]="lists.search['username'].value"
      [bitSearchStart]="lists"
      (after)="pageTable.getLists(true)"
    />
  </nz-input-group>
  <ng-container *vPageTableCell="'username'; let data">
    <span>
      {{ data.username }}
      <ng-container *ngIf="data.call"> （{{ data.call }}） </ng-container>
    </span>
    <a (click)="openUserVisable(data)">
      <i nz-icon nzType="audit"></i>
    </a>
  </ng-container>
  <ng-container *vPageTableCell="'role'; let data">
    <ng-container *ngFor="let x of data.role | Split: ','; last as isLast">
      <ng-container *ngIf="role.hasOwnProperty(x)">
        {{ role[x].name | object: bit.locale }}
      </ng-container>
      <ng-container *ngIf="!isLast">,</ng-container>
    </ng-container>
  </ng-container>
  <ng-container *vPageTableCell="'permission'; let data">
    <ng-container *ngFor="let x of data.permission | Split: ','; last as isLast">
      {{ permission[x] | object: bit.locale }}
      <ng-container *ngIf="!isLast">,</ng-container>
    </ng-container>
  </ng-container>
</v-page-table>

<ng-template #userDataInfoTpl>
  <nz-descriptions *ngIf="userData" nzLayout="vertical" nzBordered [nzColumn]="1" nzSize="middle">
    <nz-descriptions-item [nzTitle]="bit.l['call']">
      <ng-container *ngIf="userData.call; else empty">
        {{ userData.call }}
      </ng-container>
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="bit.l['email']">
      <ng-container *ngIf="userData.email; else empty">
        {{ userData.email }}
      </ng-container>
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="bit.l['phone']">
      <ng-container *ngIf="userData.phone; else empty">
        {{ userData.phone }}
      </ng-container>
    </nz-descriptions-item>
    <nz-descriptions-item *ngIf="userData.avatar" [nzTitle]="bit.l['avatar']">
      <img nz-image width="200px" height="200px" [nzSrc]="bit.static + userData.avatar" />
    </nz-descriptions-item>
    <ng-template #empty>-</ng-template>
  </nz-descriptions>
</ng-template>
