<bit-header>
  <button nz-button nzType="primary" [bitOpen]="['admin-add']">
    <span>{{ bit.l["add"] }}</span>
  </button>
</bit-header>
<ng-template #title>
  <nz-space>
    <ng-container *ngIf="lists.hasSearch('username')">
      <nz-input-group *nzSpaceItem nzSearch [nzAddOnAfter]="nzAddOnAfter" style="width: 320px">
        <input
          nz-input
          [bitSearchStart]="lists"
          [placeholder]="bit.l['search']"
          [(ngModel)]="lists.search['username'].value"
          (after)="getLists(true)"
        />
      </nz-input-group>
      <ng-template #nzAddOnAfter>
        <button
          nzSearch
          nz-button
          nzType="primary"
          [bitSearchStart]="lists"
          (after)="getLists(true)"
        >
          <i nz-icon nzType="search"></i>
        </button>
      </ng-template>
    </ng-container>
    <button *nzSpaceItem nz-button (click)="getLists(true)">
      <i nz-icon nzType="sync"></i> {{ bit.l["refreshLists"] }}
    </button>
    <button *nzSpaceItem nz-button [bitSearchClear]="lists" (after)="getLists(true)">
      <i nz-icon nzType="clear"></i> {{ bit.l["clearSearch"] }}
    </button>
    <button *nzSpaceItem nz-button nzDanger [disabled]="!lists.batch" (click)="deleteCheckData()">
      <i nz-icon nzType="rest"></i> {{ bit.l["bulkDelete"] }}
    </button>
  </nz-space>
</ng-template>
<nz-card [nzTitle]="title">
  <nz-table
    #table
    [nzData]="lists.data"
    [nzLoading]="lists.loading"
    [nzTotal]="lists.totals"
    [nzPageSize]="lists.limit"
    [nzFrontPagination]="false"
    [(nzPageIndex)]="lists.index"
    (nzPageIndexChange)="getLists()"
    nzSize="middle"
  >
    <thead>
    <tr>
      <th
        nzShowCheckbox
        nzWidth="65px"
        [(nzChecked)]="lists.checked"
        [nzIndeterminate]="lists.indeterminate"
        (nzCheckedChange)="lists.checkedAll($event)"
      ></th>
      <th nzWidth="200px">{{ bit.l["username"] }}（{{ bit.l["call"] }}）</th>
      <th nzWidth="200px">{{ bit.l["role"] }}</th>
      <th>{{ bit.l["permission"] }}</th>
      <th>{{ bit.l["status"] }}</th>
      <th nzWidth="300px" nzRight="0px">{{ bit.l["action"] }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of table.data">
      <td
        nzShowCheckbox
        [(nzChecked)]="data.checked"
        (nzCheckedChange)="lists.refreshStatus()"
      ></td>
      <td>
          <span>
            {{ data.username }}
            <ng-container *ngIf="data.call"> （{{ data.call }}） </ng-container>
          </span>
        <a (click)="openAdminVisable(data)">
          <i nz-icon nzType="audit"></i>
        </a>
      </td>
      <td>
        <ng-container *ngFor="let x of data.role | Split: ',';last as isLast">
          <ng-container *ngIf="role.hasOwnProperty(x)">
            {{ role[x].name | object: bit.locale }}
          </ng-container>
          <ng-container *ngIf="!isLast">,</ng-container>
        </ng-container>
      </td>
      <td nzBreakWord>
        <ng-container *ngFor="let x of data.permission | Split: ','; last as isLast">
          {{ permission[x] | object: bit.locale }}
          <ng-container *ngIf="!isLast">,</ng-container>
        </ng-container>
      </td>
      <td>
        <nz-switch
          [(ngModel)]="data.status"
          [nzCheckedChildren]="bit.l['on']"
          [nzUnCheckedChildren]="bit.l['off']"
          [bitStatusChange]="userService.status(data)"
          [bitControl]="true"
          (response)="statusFeedback($event)"
        >
        </nz-switch>
      </td>
      <td>
        <a [bitOpen]="['admin-edit', data.id]">
          <i nz-icon nzType="edit"></i> {{ bit.l["edit"] }}
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="deleteData([data.id])">
          <i nz-icon nzType="delete"></i> {{ bit.l["delete"] }}
        </a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>

<nz-drawer
  [nzWidth]="540"
  [nzClosable]="false"
  [nzVisible]="adminVisible"
  (nzOnClose)="closeAdminVisable()"
>
  <ng-container *nzDrawerContent>
    <nz-descriptions
      *ngIf="adminData"
      nzLayout="vertical"
      nzBordered
      [nzColumn]="1"
      nzSize="middle"
    >
      <nz-descriptions-item [nzTitle]="bit.l['call']">
        <ng-container *ngIf="adminData.call; else empty">
          {{ adminData.call }}
        </ng-container>
      </nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="bit.l['email']">
        <ng-container *ngIf="adminData.email; else empty">
          {{ adminData.email }}
        </ng-container>
      </nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="bit.l['phone']">
        <ng-container *ngIf="adminData.phone; else empty">
          {{ adminData.phone }}
        </ng-container>
      </nz-descriptions-item>
      <nz-descriptions-item *ngIf="adminData.avatar" [nzTitle]="bit.l['avatar']">
        <img nz-image width="200px" height="200px" [nzSrc]="bit.static + adminData.avatar" />
      </nz-descriptions-item>
      <ng-template #empty>-</ng-template>
    </nz-descriptions>
  </ng-container>
</nz-drawer>
