<nz-card class="page-form">
  <form nz-form [formGroup]="formGroup" (bitFormSubmit)="submit($event)">
    <ng-container *ngFor="let template of templates">
      <ng-container *ngTemplateOutlet="template"></ng-container>
    </ng-container>
    <nz-form-item>
      <nz-form-control bitCol="submit">
        <nz-space>
          <button *nzSpaceItem nz-button nzType="primary" [disabled]="!formGroup.valid">
            <i nz-icon nzType="check"></i> {{ bit.l['submit'] }}
          </button>
          <ng-container *ngIf="!cancelDisabled">
            <button *nzSpaceItem nz-button type="button" bitBack>
              <i nz-icon nzType="close"></i> {{ bit.l['cancel'] }}
            </button>
          </ng-container>
        </nz-space>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
