<bit-header back>
  <bit-i18n-switch *bitHeaderAction></bit-i18n-switch>
</bit-header>

<v-page-form [formGroup]="form" [submit]="submit">
  <nz-form-item *vPageFormItem formGroupName="name">
    <nz-form-label bitCol="label" nzRequired>
      <span>
        {{ bit.l['name'] }}
        <i nz-icon nz-tooltip [nzTooltipTitle]="bit.l['i18nTip']" nzType="translation"> </i>
      </span>
    </nz-form-label>
    <ng-container *ngFor="let x of bit.i18nContain">
      <nz-form-control *ngIf="bit.equalI18n(x)" nzHasFeedback bitCol="control">
        <input nz-input [formControlName]="x" [placeholder]="bit.l['namePlaceholder']" />
      </nz-form-control>
    </ng-container>
  </nz-form-item>

  <nz-form-item *vPageFormItem>
    <nz-form-label bitCol="label" nzRequired>
      <span>
        {{ bit.l['key'] }}
        <i nz-icon nz-tooltip [nzTooltipTitle]="bit.l['keyHelp']" nzType="question-circle"> </i>
      </span>
    </nz-form-label>
    <nz-form-control bitCol="control" nzHasFeedback [nzValidatingTip]="bit.l['validating']">
      <input nz-input formControlName="key" [placeholder]="bit.l['keyPlaceholder']" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *vPageFormItem>
    <nz-form-label bitCol="label">
      <span>
        {{ bit.l['note'] }}
      </span>
    </nz-form-label>
    <nz-form-control bitCol="control">
      <textarea rows="4" nz-input formControlName="note"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *vPageFormItem>
    <nz-form-label bitCol="label" nzRequired>
      {{ bit.l['status'] }}
    </nz-form-label>
    <nz-form-control bitCol="control">
      <nz-switch formControlName="status" [nzCheckedChildren]="bit.l['on']" [nzUnCheckedChildren]="bit.l['off']">
      </nz-switch>
    </nz-form-control>
  </nz-form-item>
</v-page-form>
