<bit-header back> </bit-header>

<v-page-form [formGroup]="form" [submit]="submit">
  <nz-form-item *vPageFormItem formGroupName="name">
    <nz-form-label nzRequired>
      <span>
        {{ bit.l['name'] }}
        <i nz-icon nz-tooltip [nzTooltipTitle]="bit.l['i18nTip']" nzType="translation"> </i>
      </span>
    </nz-form-label>
    <bit-i18n #i18n="bitI18n" nz-col [nzSpan]="12" formGroupName="name">
      <ng-container *ngFor="let language of i18n.languages">
        <nz-form-item *bitI18nItem="language">
          <nz-form-control nzHasFeedback>
            <input [formControlName]="language.id" nz-input [placeholder]="bit.l['namePlaceholder']" />
          </nz-form-control>
        </nz-form-item>
      </ng-container>
    </bit-i18n>
  </nz-form-item>

  <nz-form-item *vPageFormItem>
    <nz-form-label nzRequired>
      <span>
        {{ bit.l['key'] }}
        <i nz-icon nz-tooltip [nzTooltipTitle]="bit.l['keyHelp']" nzType="question-circle"> </i>
      </span>
    </nz-form-label>
    <nz-form-control nzHasFeedback [nzValidatingTip]="bit.l['validating']">
      <input nz-input formControlName="key" [placeholder]="bit.l['keyPlaceholder']" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *vPageFormItem>
    <nz-form-label>
      <span>
        {{ bit.l['note'] }}
      </span>
    </nz-form-label>
    <nz-form-control>
      <textarea rows="4" nz-input formControlName="note"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *vPageFormItem>
    <nz-form-label nzRequired>
      {{ bit.l['status'] }}
    </nz-form-label>
    <nz-form-control>
      <nz-switch formControlName="status" [nzCheckedChildren]="bit.l['on']" [nzUnCheckedChildren]="bit.l['off']">
      </nz-switch>
    </nz-form-control>
  </nz-form-item>
</v-page-form>
