<bit-header>
  <button *bitHeaderAction nz-button nzType="primary" [bitOpen]="['role-add']">
    <i nz-icon nzType="plus"></i>
    <span>{{ bit.l['add'] }}</span>
  </button>
</bit-header>

<v-page-table #pageTable [lists]="lists" [listsOperate]="listsOperate" [columns]="columns" [service]="roleService">
  <nz-input-group *vPageTableSearch="'name->' + bit.locale" [nzSuffixIcon]="'search'" style="width: 320px">
    <input
      nz-input
      [placeholder]="bit.l['search']"
      [(ngModel)]="lists.search['name->' + bit.locale].value"
      [bitSearchStart]="lists"
      (after)="pageTable.getLists(true)"
    />
  </nz-input-group>
  <ng-container *vPageTableCell="'permission'; let data">
    <ng-container *ngFor="let x of data.permission | Split: ','; last as isLast">
      {{ permission[x] | object: bit.locale }}
      <ng-container *ngIf="!isLast">,</ng-container>
    </ng-container>
  </ng-container>
</v-page-table>
